/* General styles */
body, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

/* Navigation bar styles */
.nav {
    width: 100%;
    height: 80px;
    background: #0a66b1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo p {
    color: white;
    font-size: 30px;
    font-weight: 600;
    color: #FBFCF8;
    font-style: italic;
}

.main-nav {
    display: flex;
}

.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav ul li {
    margin: 0 10px;
}

.main-nav ul li a {
    color: white;
    font-size: 20px;
}

/* Menu icon for smaller screens */
#menu {
    display: none;
}

#menu-icon {
    color: white;
    font-size: 36px;
    cursor: pointer;
    display: none;
}

/* Responsive styles */
@media screen and (max-width: 1024px) {
    .main-nav {
        position: absolute;
        top: 80px;
        right: 0;
        background: #0a66b1;
        height: 100vh;
        width: 50%;
        display: block;
        text-align: center;
        transition: all 0.5s ease;
        transform: translateX(100%);
    }

    .main-nav ul {
        display: block;
    }

    .main-nav ul li {
        margin: 40px 0;
    }

    #menu:checked ~ .main-nav {
        transform: translateX(0%);
    }

    #menu-icon {
        display: block;
    }
}

/* Dropdown styles */
.right-links {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

#dropdownButton {
    background-color: lightblue; /* Light blue color */
    color: #0077b6; /* Text color */
    padding: 12px 18px; /* Increase padding for larger button */
    font-size: 17px; /* Increase font size */
    border: none; /* Remove default border */
    cursor: pointer; /* Pointer cursor */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#dropdownButton:hover {
    background-color: #0096c7; /* Slightly darker blue on hover */
	color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0077b6; /* Changed to blue */
    min-width: 190px;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -90px;
	font-style: italic;
}

.dropdown-content a {
    color: white; /* Changed to white */
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #0056b3; /* Slightly darker blue for hover */
}

.dropdown:hover .dropdown-content {
    display: block;
}
