body {
    background: url('whiteShadow.png') no-repeat center center, 
                url('whiteShadow.png') no-repeat center center,
                url('WaterSplash.png') no-repeat center center, 
                linear-gradient(to bottom, rgb(2,41,84), rgb(53,76,124), rgb(80,90,116), rgb(176,184,206), rgb(234,235,254));
    background-attachment: fixed;
    background-size: cover, cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    text-align: center;
    margin-top: 50px;
    width: 80%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.qr {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.qr img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.pay_info {
    margin-top: 20px;
    text-align: left;
}

.instruction {
    margin: 20px 0;
}

.instruction p {
    font-size: 18px;
    color: #141111;
    margin: 0;
    padding: 0;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="file"] {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.pay-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-family: Garamond, serif;
    color: grey;
    padding: 8px 15px;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid gray;
    border-radius: 7px;
    text-decoration: none;
    outline: 2px solid transparent;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
}

.pay-btn:hover, .pay-btn:focus {
    background-color: grey;
    color: white;
}

.back-btn {
    margin-right: 10px;
}

.sub-btn {
    margin-left: 10px;
}
