.disabledButton {
    background-color: red;
    color: white;
    cursor: not-allowed;
}

#business {
    height: 30px;
    width: 130px;
    border: 1px solid #5d3fcc;
    cursor: pointer;
}

#business:hover {
    background-color: #5d3fcc;
    color:white;
}

#employee {
    height: 30px;
    width: 130px;
    border: 1px solid #5d3fcc;
    cursor: pointer;
}

#employee:hover {
    background-color: #5d3fcc;
    color:white;
}

#users {
    height: 30px;
    width: 130px;
    border: 1px solid #5d3fcc;
    cursor: pointer;
}

#users:hover {
    background-color: #5d3fcc;
    color:white;
}

#rqbusiness_container, #rqbusiness_container th, #rqbusiness_container td {
    border: none;
}

#rqbusiness_container td:hover {
    background-color: #7966be;
    color: white;
}

.selected-row{
    background-color: #6850be;
    color: white;
}

.status-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none; 
    background-color: transparent;
    padding: 0; 
    outline: none;
}

.status-select::-ms-expand {
    display: none; 
}

.status-select option {
    color:black;
}

.expanded {
    background-color: #6850be; 
    color: white;
}

.hiddenrow{
    background-color: #5829c4; 
    color: white;
}
