body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("laundry.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    z-index: -2;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(25, 25, 112, 0.7), rgba(10, 150, 255, 0.7), rgba(240, 255, 255, 0.7));
    z-index: -1;
    opacity: 0.7;
}

header {
    text-align: center;
    margin-bottom: 20px; /* Add margin bottom to separate from container */
    position: relative; /* Ensure header content is above the gradient */
    z-index: 1;
}

header .logo {
    height: 100px; /* Adjust the size as needed */
}

header h1 {
    margin: 0;
    font-size: 1.5rem; /* Adjust font size for responsiveness */
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container {
    background: linear-gradient(to bottom, rgba(65, 105, 225, 0.7), rgba(10, 150, 255, 0.7), rgba(240, 255, 255, 0.7));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px; /* Increased max-width for wider container */
    text-align: center;
    margin-top: 70px; /* Increased top margin to lower the container */
    margin-bottom: 70px; /* Adjusted margin to prevent overlap with footer or bottom */
    z-index: 1;
}

/* Font Size Adjustments */
h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}

p, ul {
    font-size: 1em;
}

ul {
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    header .logo {
        height: 60px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    .container {
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p, ul {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.25rem;
    }

    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    p, ul {
        font-size: 0.875rem;
    }
}
